
.header{
    position: fixed;    /* ヘッダーを固定する */
    top: 0;             /* 上部から配置の基準位置を決める */ 
    left: 0;            /* 左から配置の基準位置を決める */ 
    width: 100%;        /* ヘッダーの横幅を指定する */
    height: 70px;       /* ヘッダーの高さを指定する */
    padding: 10px;      /* ヘッダーの余白を指定する(上下左右) */
    color: #000000;     /* フォントの色を指定する */
    background-color: #cc6699;
}

.header-logo{
    padding: 20px;
    text-align:center;
    font-size: 40px;
    color: #FBE545;
}
.border{
    width: 100px;
}

.topic{
    width: 200px;
    padding-left: 100px;
    padding-top: 20px;
    border-bottom: 1px solid #cc6699;
    
}

.month{
    padding-left: 90px;
    border-bottom: 
    1px solid #cc6699; 
    width: 200px;
}

.btn{
    width: 20%;
}

/*.box{
    position: absolute;
    right: 95px;
    top:100px;
    margin-left: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 1200px;
    height: 150px;
    border: 1px solid;
}*/

.box2{
    margin-left: auto;
    margin-bottom: 20px;
    width: 1200px;
    height: 150px;
    border: 1px solid;
    position: relative;
    right: 90px;
}

.btn-delete{
    float: right;
    margin-right: 15px;
    position: relative;
    bottom: 15px;
    background-color: #ffc0cb;
    padding: 10px;
}

.footer{
    position: fixed;    /* フッターを固定する */
    bottom: 0;          /* 上部から配置の基準位置を決める */ 
    left: 0;            /* 左から配置の基準位置を決める */ 
    width: 100%;        /* フッターの横幅を指定する */
    padding:10px;       /* フッター内側の余白を指定する(上下左右) */
    color: #FFFFFF;     /* フッターのフォントの色を指定する */
    background-color: #cc6699;
    height: 40px;
}

.footer-logo{
    padding: 20px;
    text-align:center;
    color: #FBE545;
}