
.header{
    background-color: #4DB7EB;
    height: 100px;
}

.header-logo{
    padding: 20px;
    text-align:center;
    font-size: 40px;
    color: #FBE545;
}

.topic{
    padding-left: 40px;
    border-bottom: 1px solid #4DB7EB;
    width: 160px;
}

.box{
    margin-left: auto;
    width: 1500px;
    height: 200px;
    border: 1px solid;
    
}


.footer{
    background-color: #4DB7EB;
    height: 100px;
}

.footer-logo{
    padding: 20px;
    text-align:center;
    color: #FBE545;
}